<ion-header>
  <ion-toolbar>
    <ion-menu-button class="end1" slot="end"></ion-menu-button>
    <ion-buttons slot="start">
      <ion-back-button class="backbtn"></ion-back-button>
    </ion-buttons>
    <ul class="imgtop"><img src="../../assets/eventify_logo.png" class="img2">
    </ul>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <h1 class="hdr"><strong>Sign Up</strong></h1>
  <ion-text>
    <h2 class="smallhdr">Start planning your next event!</h2>
  </ion-text>
  <div class="main">
    <ion-card no-margin>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="text" placeholder="Username" [(ngModel)]="username" class="input"
                       padding-horizontal clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="email" placeholder="Email" [(ngModel)]="email" class="input" padding-horizontal
                       clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="password" placeholder="Password" [(ngModel)]="password" class="input"
                       padding-horizontal clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="signup()" color="undefined" class="transition">
              <strong class="white">Register</strong></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="error" text-center>{{error}}</ion-text>
          </ion-col>
        </ion-row>
        <div style="margin-top: 5%" text-center>
          <ion-row>
            <ion-label style="width: 100%; text-align: center; font-size: 11px">Already have and account?</ion-label>
          </ion-row>
          <ion-button style="font-size: 12px; height: 22px; width:125px; margin-left: auto; margin-right: auto" routerLink="/login" expand="full" color="undefined" class="imp-button">Log In</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <br><br><br>
  <div class="container body-content">
    <ion-item>
      <div class="lastpart">
        <img src="../../assets/eventify_logo.png" class="img2">
        <br>
        <button class="i">
          <ion-icon name="logo-facebook" size="large"></ion-icon>
        </button>
        <button class="i1">
          <ion-icon name="logo-twitter" size="large"></ion-icon>
        </button>
        <button class="i2">
          <ion-icon name="logo-linkedin" size="large"></ion-icon>
        </button>
        <button class="i3">
          <ion-icon name="logo-instagram" size="large"></ion-icon>
        </button>
      </div>
    </ion-item>
  </div>
  <ul class="brand">&copy; EVENTIFY, 2019</ul>
</ion-content>
