<ion-header>
  <ion-toolbar>
    <ion-title style="width: 100%; position: absolute; text-align: center" text-center padding color="danger"></ion-title>
    <img src="../../assets/logo-e.png" class="img1">
    <ion-menu-button class="end1" slot="end"></ion-menu-button>
    <button class="button6"> <strong> LOGIN </strong></button>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <button class="button1"> <strong> HOME        </strong> </button>
  <!--<button type="button" (click)="logClick('button')">HOME</button>

  <button type="button1" (click)="logClick('button')">FEATURES</button>

  <button type="button2" (click)="logClick('button')">HOW IT WORKS</button>

  <button type="button3" (click)="logClick('button')">SHOWCASE</button>-->
  <button class="button2"> <strong> FEATURES     </strong> </button>
  <button class="button3"> <strong> HOW IT WORKS </strong> </button>
  <button class="button4"> <strong> SHOWCASE     </strong> </button>
  <button class="button5"> <strong> PRICING      </strong> </button>


  <!--<button type="button" (click)="logClick('button')">HOME</button>

  <button type="button1" (click)="logClick('button')">FEATURES</button>

  <button type="button2" (click)="logClick('button')">HOW IT WORKS</button>

  <button type="button3" (click)="logClick('button')">SHOWCASE</button>-->


  <ion-row class="row">

    <div class="div-logo">
      <img src="../../assets/eventify.1.PNG" class="img-logo">
      <h1 ><strong>End-To-End Event Management.</strong></h1>
      <h2 >Reimagined.</h2>
      <h3 >Make your B2B events & conferences more successful than ever before, with Eventify - a fully customisable event management platform. Discover the advantages of paperless event promotions.</h3>
    </div>
  </ion-row>
  <br><br><br><br><br><br><br><br><br>


  <!-- <button>


     <ion-icon class="star" name="star" >  </ion-icon>
     <ion-icon class="home" name="home">  </ion-icon>
     <ion-icon class="card" name="card">  </ion-icon>
     <ion-icon class="chatboxes" name="chatboxes">  </ion-icon>
     <ion-icon class="globe" name="globe"> </ion-icon>
     <ion-icon class="contacts" name="contacts" >  </ion-icon>

   </button>

 -->

  <ion-grid>
    <ion-row>

      <ion-col col-4>
        <ion-card text-center padding color="primary">
          <ion-icon name="star" size="large"></ion-icon>
          <h2>Speakers</h2>
        </ion-card>
      </ion-col>

      <ion-col col-4>
        <ion-card text-center padding color="primary">
          <ion-icon name="contacts" size="large"></ion-icon>
          <h2>Sponsors</h2>
        </ion-card>
      </ion-col>

      <ion-col col-4>
        <ion-card text-center padding color="primary">
          <ion-icon name="chatboxes" size="large"></ion-icon>
          <h2>Chat</h2>
        </ion-card>
      </ion-col>

      <ion-col col-4>
        <ion-card text-center padding color="primary">
          <ion-icon name="globe" size="large"></ion-icon>
          <h2>Social</h2>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <div class="container body-content">

    <br />
    <br />
    <br />
    <br />
    <br />



    <ion-row class="row2">

      <div class="div-logo">
        <img src="../../assets/eventify2.PNG" class="img-logo">
        <h1 ><strong> The ‘Intelligent’ Event App Platform</strong></h1>
        <h3> Use the intuitive Eventify dashboard to curate information in your customised event application. You can add single-day events as well as multi-day events.</h3>
      </div>
    </ion-row>
    <br><br><br><br><br><br>


    <ion-row class="row3">

      <div class="div-logo">
        <img src="../../assets/eventify4.PNG" class="img-logo">
        <h1 ><strong>Build Engagement Through Mobile Event Apps</strong></h1>
        <h3>Use the built-in one-on-one messaging feature to communicate with your event attendees. Share the latest news & updates, and make your event networking a success.</h3>

      </div>
    </ion-row>
    <br><br><br><br><br><br>


    <ion-row class="row4">

      <div class="div-logo">
        <img src="../../assets/eventify5.PNG" class="img-logo">
        <h1 ><strong>Build Engagement Through Mobile Event Apps</strong></h1>
        <h3>Use the built-in one-on-one messaging feature to communicate with your event attendees. Share the latest news & updates, and make your event networking a success.</h3>

      </div>
    </ion-row>
    <br><br><br><br><br><br>


    <p class="lastpart1"><img src="../../assets/eventify3.PNG" class="img3">
      <br><br><br>
    <p class="lastpart"><img src="../../assets/logo-e.png" class="img2">
      <br><br><br>
      <i class="a1">Eventify is a fully customizable platform for creating digital event apps.
        Create personalized, cross-platform mobile apps for every type of event. </i>

      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <ion-card text-center padding color="Danger" >
              <ion-icon name="logo-facebook" size="large"></ion-icon>
              <ion-icon name="logo-twitter" size="large"></ion-icon>
              <ion-icon name="logo-linkedin" size="large"></ion-icon>
            </ion-card>
          </ion-col>
        </ion-row>

      </ion-grid>
      <br>
    <p style="color:black;font-family:'MS UI Gothic'">&copy; EVENTIFY, 2019</p>

  </div>



</ion-content>
