  <ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title style="width: 100%; position: absolute; text-align: center"></ion-title>
      <ion-menu-button class="end1" slot="end"></ion-menu-button>
      <ul class="imgtop"><img src="../../assets/eventify6.png" class="img2"></ul>


    </ion-toolbar>
  </ion-header>


    <ion-content>
      <ion-searchbar type="text" debounce="500" ></ion-searchbar>
      <ion-row class="row">
        <br><br>
          <img src="https://media.giphy.com/media/1zR9sWQ1R4m2UCKliP/source.gif" class="img-logo" >
      </ion-row>

      <h1 class="alttext"><strong> JOIN US FREE! 2000+ PROFESSIONALS ARE READY FOR YOU.</strong></h1>

      <br><br>

    <ion-grid>
      <ion-row>


        <ion-card>
          <ion-card-header>

            <img src="../../assets/GET%20QUALITY%20SERVICE.png">
          </ion-card-header>
          <ion-card-content>

            <ion-card-title><strong>GET QUALITY SERVICE</strong></ion-card-title>
            <br>
            You can see the quality of service providers by checking real customer reviews for their previous jobs, and make your decision with confidence.
          </ion-card-content>
        </ion-card>



        <ion-card>
          <ion-card-header>

            <img src="../../assets/SAVE%20TIME.png">
          </ion-card-header>

          <ion-card-content>
            <ion-card-title><strong>SAVE TIME</strong></ion-card-title>
  <br>
            Don't waste your time checking references from friends and family. Receive custom quotes for your job online and save your time to spend it with your loved ones.
          </ion-card-content>
        </ion-card>


        <ion-card>
          <ion-card-header>

            <img src="../../assets/BE%20ASSURED.png">
          </ion-card-header>

          <ion-card-content>
            <ion-card-title><strong>BE ASSURED</strong></ion-card-title>
            <br>
            We've got you covered to get your project done with peace of mind.
          </ion-card-content>
        </ion-card>



        <ion-card>
          <ion-card-header>

            <img src="../../assets/USE%20EASILY.png">
          </ion-card-header>

          <ion-card-content>
            <ion-card-title><strong>USE EASILY</strong></ion-card-title>
  <br>
            Take a minute to answer specific questions for your requested service and get things done easily.


          </ion-card-content>
        </ion-card>



      </ion-row>
    </ion-grid>

    <div class="container body-content">



  <br><br><br>
      <img src="../../assets/Download.png" class="img4">

      <h1 class="d1"><strong>Download now on AppStore or Google Play</strong></h1>

      <br><br><br><br>



      <ion-item>

            <div class="lastpart">
              <img src="../../assets/eventify6.png" class="img2">


  <br>


              <button ion-button icon-only class="i">

                  <ion-icon name="logo-facebook" size="large" (click)="btnClicked()"></ion-icon>
                </button>









                <button ion-button icon-only class="i1">
                  <ion-icon name="logo-twitter" size="large"></ion-icon>
                </button>

                <button ion-button icon-only class="i2">
                  <ion-icon name="logo-linkedin" size="large"></ion-icon>
                </button>

                <button ion-button icon-only class="i3">
                  <ion-icon name="logo-instagram" size="large"></ion-icon>
                </button>

            </div>

          </ion-item>


        <br>


    </div>
      <ul class="brand">&copy; EVENTIFY, 2019</ul>

  </ion-content>

    </ion-app>
