<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-title style="width: 100%; position: absolute; text-align: center"></ion-title>
    <ion-menu-button class="end1" slot="end"></ion-menu-button>
    <button class="button6"> <strong> LOGIN </strong></button>
  </ion-toolbar>
</ion-header>

  <ion-button class="button1">
  <button class="s1"> <strong> HOME        </strong> </button>
  <button class="s2"> <strong> FEATURES     </strong> </button>
  <button class="s3"> <strong> SHOWCASE     </strong> </button>
  <button class="s4"> <strong> PRICING      </strong> </button>
  </ion-button>

  <ion-content>
    <br>
    <ion-searchbar type="text" debounce="500" ></ion-searchbar>
    <ion-row class="row">
      <div class="div-logo">
        <img src="../../assets/eventify1.PNG" class="img-logo">
        <h3 ><strong>End-To-End Event Management.</strong></h3>
        <h6>Make your B2B events & conferences more successful than ever before, with Eventify - a fully customisable event management platform. Discover the advantages of paperless event promotions.</h6>
      </div>
      <button class="m1">TRY IT FOR FREE! </button>
    </ion-row>

    <br><br><br><br><br>
  <ion-grid>
    <ion-row>

      <ion-col col-4>
        <ion-card text-center padding color="primary">
          <ion-icon name="star" size="large"></ion-icon>
          <h2>Speakers</h2>
        </ion-card>
        <p class="p1">Add featured sessions, featured exhibitions & event itinerary.</p>
      </ion-col>


      <ion-col col-4>
        <ion-card text-center padding color="primary">
          <ion-icon name="contacts" size="large"></ion-icon>
          <h2>Sponsors</h2>
        </ion-card>
        <p class="p1">List your event’s principal sponsors and partners with ease.</p>
      </ion-col>

      <ion-col col-4>
        <ion-card text-center padding color="primary">
          <ion-icon name="chatboxes" size="large"></ion-icon>
          <h2>Chat</h2>
        </ion-card>
        <p class="p1">Built-in messaging and global push notifications.</p>
      </ion-col>

      <ion-col col-4>
        <ion-card text-center padding color="primary">
          <ion-icon name="globe" size="large"></ion-icon>
          <h2>Social</h2>
        </ion-card>
        <p class="p1">Share news and use powerful social media integrations.</p>
      </ion-col>

    </ion-row>
  </ion-grid>

  <div class="container body-content">
    <ion-row class="row">
      <div class="div-logo">
        <img src="../../assets/eventify2.PNG" class="img-logo">
        <h3 ><strong> The ‘Intelligent’ Event App Platform</strong></h3>
        <h6> Use the intuitive Eventify dashboard to curate information in your customised event application. You can add single-day events as well as multi-day events.</h6>
      </div>
      <button class="m1">LEARN MORE </button>
    </ion-row>


    <ion-row class="row">

      <div class="div-logo">
        <img src="../../assets/eventify3.PNG" class="img-logo">
        <h3 ><strong>Build Engagement Through Mobile Event Apps</strong></h3>
        <h6>Use the built-in one-on-one messaging feature to communicate with your event attendees. Share the latest news & updates, and make your event networking a success.</h6>
      </div>
      <button class="m1">LEARN MORE </button>
    </ion-row>


    <ion-row class="row">

      <div class="div-logo">
        <img src="../../assets/eventify4.PNG" class="img-logo">
        <h3 ><strong>Build Engagement Through Mobile Event Apps</strong></h3>
        <h6>Use the built-in one-on-one messaging feature to communicate with your event attendees. Share the latest news & updates, and make your event networking a success.</h6>
      </div>
      <button class="m1">READ MORE </button>
    </ion-row>

<br><br><br><br>
    <h1 class="d1"><strong>Quick Registration. Simple Pricing.</strong></h1>
    <h3 class="d1">Select from the simple & competitive pricing plans for our event app platform. Both package prices and a-la-carte price plans are available.</h3>
<br><br>
    <img src="../../assets/eventify8.PNG" class="img4">
    <button class="c1">REGISTER NOW </button>

    <br><br><br><br><br><br><br>
    <!--<p class="lastpart1"><img src="../../assets/eventify5.PNG" class="img3">-->
    <p class="lastpart"><img src="../../assets/eventify6.png" class="img2">
      <br>
      <i class="a1">Eventify is a fully customizable platform for creating digital event apps.
        Create personalized, cross-platform mobile apps for every type of event. </i>
            <ion-card text-center padding color="Danger" >
              <ion-icon name="logo-facebook" size="large"></ion-icon>
              <ion-icon name="logo-twitter" size="large"></ion-icon>
              <ion-icon name="logo-linkedin" size="large"></ion-icon>
            </ion-card>
      <br>
    <p style="color:black;font-family:'MS UI Gothic'">&copy; EVENTIFY, 2019</p>

  </div>

</ion-content>

  </ion-app>
