<ion-card routerLink="services/{{service['id']}}">
  <ion-card-header>
    <ion-card-title>
      <h6>
        {{service.name}}
      </h6>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div *ngFor="let content of service.content">
    {{content}}
  </div>
    <br>
    <div *ngFor="let contact_details of service.contact_details">
      {{contact_details}}
    </div>
    <ion-button class="up1" color="undefined" slot="end"  expand="full" >Contact Me </ion-button>
  </ion-card-content>
</ion-card>
