ion-content {
  user-select: none;
}

ion-searchbar {
  user-select: none;
}

ion-refresher ion-refresher-content {
  background: #ffffff;
}

app-service:hover {
  cursor: pointer;
}

.end1 {
  background: limegreen !important;
  filter: brightness(95%);
  color:white;
  border: 0.8px solid rgb(1000, 1000, 1000);
  border-radius: 10px;
  display: block;
}

.imgtop {
  margin-left: -4px;
  background-color: limegreen;
  filter: brightness(95%);
  color: white;
  font-size: 10px;
  text-indent: 5px;
  width: 400px;
  height: 50px;
  padding: 0.5px;
}

.img2 {
  height: 40px;
  padding-top: 10px;
  padding-left: 80px;
}

.i {
  background-color: limegreen;
  border-radius: 10px;
  border: 0.2px solid white;
  color: white;
}

.i:hover {
  background-color: white;
  color: gray;
  transition-delay: 0.1s;
}

.i1 {
  background-color: limegreen;
  border-radius: 10px;
  border: 0.2px solid white;
  color: white;
}

.i1:hover {
  background-color: white;
  color: gray;
  transition-delay: 0.1s;
}

.i2 {
  background-color: limegreen;
  border-radius: 10px;
  border: 0.2px solid white;
  color: white;
}

.i2:hover {
  background-color: white;
  color: gray;
  transition-delay: 0.1s;
}

.i3 {
  background-color: limegreen;
  border-radius: 10px;
  border: 0.2px solid white;
  color: white;
}

.i3:hover {
  background-color: white;
  color: gray;
  transition-delay: 0.1s;
}

.lastpart {
  background-color: limegreen;
  filter: brightness(95%);
  color: white;
  font-size: 10px;
  text-indent: 15px;
  text-decoration: solid;
  text-align: justify;
  text-transform: uppercase;
  height: 100px;
  width: 500px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 25px;
}

.brand {
  color: gray;
  font-size: 0.3em !important;
  padding: 0.5px 0.5px 0.5px 27px;
}
