<ion-header>
  <ion-toolbar>
    <ion-menu-button class="end1" slot="end"></ion-menu-button>
    <ul class="imgtop"><img src="../../assets/eventify6.png" class="img2"></ul>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar type="text" debounce="1" [(ngModel)]="searchEntry" (ngModelChange)="filterList(searchEntry)" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pull-min="60" pull-max="60" pull-factor="0.3" (ionRefresh)="refresh($event)">
    <ion-refresher-content refreshingSpinner="circular"></ion-refresher-content>
  </ion-refresher>
  <ion-item *ngFor="let service of filteredList">
    <app-service [service]="service" style="width: 100%"></app-service>
  </ion-item>
  <div *ngIf="!serviceList">
    <ion-item *ngFor="let i of [0,1,2,3]">
      <ion-card style="width: 100%">
        <ion-card-header>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-header>
        <ion-card-content>
          <ion-skeleton-text animated style="width: 95%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 85%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </div>
  <div class="container body-content">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <ion-item>
      <div class="lastpart">
        <img src="../../assets/eventify6.png" class="img2">
        <br>
        <button class="i">
          <ion-icon name="logo-facebook" size="large"></ion-icon>
        </button>
        <button class="i1">
          <ion-icon name="logo-twitter" size="large"></ion-icon>
        </button>
        <button class="i2">
          <ion-icon name="logo-linkedin" size="large"></ion-icon>
        </button>
        <button class="i3">
          <ion-icon name="logo-instagram" size="large"></ion-icon>
        </button>
      </div>
    </ion-item>
  </div>
  <ul class="brand">&copy; EVENTIFY, 2019</ul>
</ion-content>
