.a1{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 9px;
}
.lastpart{
  background-color: midnightblue;
  color: white;
  font-size: 10px;
  text-indent: 15px;
  text-decoration: solid;
  text-align: justify;
  text-transform: uppercase;
}
.end1{
  background: dodgerblue !important;
  color:white;
  border: 0.8px solid rgb(1000, 1000, 1000);
  border-radius: 10px;
  display: block;
}
