<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
    <ion-menu-button slot="end" style="--color: rgb(21,21,21);"></ion-menu-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchEntry" (ngModelChange)="filterList(searchEntry)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let service of filteredList">
    <app-service [service]="service" style="width: 100%" (click)="goToServicePage(service['id'])"></app-service>
  </ion-item>
</ion-content>
