<ion-header>
  <ion-toolbar>
    <ion-title text-center>Log In</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div class="main">
    <ion-card no-margin>
      <ion-card-content>
  <ion-row class="row">
    <div class="div-logo">
      <img src="../../assets/logo_eventify.png" class="img-logo" alt="logo">
      <ion-text>
        <h2 no-margin margin-vertical text-center>Continue planning your event</h2>
      </ion-text>
    </div>
  </ion-row>
    <ion-col>
      <ion-row>
      <ion-input placeholder="Email" class="input"></ion-input>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
      <ion-input clearInput placeholder="Password" type="password" class="input" padding-horizontal clear-input="true"></ion-input>
      </ion-row>
    </ion-col>

    <ion-button expand="block" routerLink="/home" color="undefined" class="transition">Login</ion-button>
        <!-- /** to be changed <ion-item routerLink="/requestlogin" style="text-align: center; margin-top: 10px; --min-height: 0.5rem"></ion-item> */  -->
      <ion-row>
      <ion-label style="width: 100%; text-align: center; font-size: 11px">Trouble to log in?</ion-label>
      </ion-row>
      <ion-button style="font-size: 12px; height: 22px; width:125px; margin-left: auto; margin-right: auto" routerLink="/newpass" expand="full" color="undefined" class="imp-button">Reset Password</ion-button>
    <ion-row>
      <ion-label style="width: 100%; text-align: center; font-size: 11px">Not registered yet?</ion-label>
    </ion-row>
    <ion-button style="font-size: 12px; height: 22px; width:125px; margin-left: auto; margin-right: auto" routerLink="/signup" expand="full" color="undefined" class="imp-button">Sign up</ion-button>
    </ion-card-content>
    </ion-card>
  </div>
</ion-content>
