<ion-header>
  <ion-toolbar>
    <ion-menu-button class="end1" slot="end"></ion-menu-button>
    <ion-buttons slot="start">
      <ion-back-button class="backbtn"></ion-back-button>
    </ion-buttons>
    <ul class="imgtop"><img src="../../assets/eventify_logo.png" class="img2">
    </ul>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <h1 class="hdr"><strong>Login</strong></h1>
  <ion-text>
    <h2 class="smallhdr">Continue planning your event!</h2>
  </ion-text>
  <div class="main">
    <ion-card no-margin>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-input  placeholder="Email" [(ngModel)]="email" class="input"></ion-input>
          </ion-col>
        </ion-row>
        <ion-col>
          <ion-row>
            <ion-input clearInput placeholder="Password" [(ngModel)]="password" type="password" class="input" padding-horizontal clear-input="true"></ion-input>
          </ion-row>
        </ion-col>
        <ion-button expand="block" (click)="login()" color="undefined" class="transition">
          <strong class="white">Login</strong></ion-button>
        <br><br>
        <ion-row>
          <ion-label style="width: 100%; text-align: center; font-size: 11px">Trouble to log in?</ion-label>
        </ion-row>
        <ion-button style="font-size: 12px; height: 22px; width:125px; margin-left: auto; margin-right: auto" routerLink="/newpass" expand="full" color="undefined" class="imp-button">Reset Password</ion-button>
        <ion-row>
          <ion-label style="width: 100%; text-align: center; font-size: 11px">Not registered yet?</ion-label>
        </ion-row>
        <ion-button style="font-size: 12px; height: 22px; width:125px; margin-left: auto; margin-right: auto" routerLink="/signup" expand="full" color="undefined" class="imp-button">Sign up</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <br>
  <div class="container body-content">
    <ion-item>
      <div class="lastpart">
        <img src="../../assets/eventify_logo.png" class="img2">
        <br>
        <button class="i">
          <ion-icon name="logo-facebook" size="large"></ion-icon>
        </button>
        <button class="i1">
          <ion-icon name="logo-twitter" size="large"></ion-icon>
        </button>
        <button class="i2">
          <ion-icon name="logo-linkedin" size="large"></ion-icon>
        </button>
        <button class="i3">
          <ion-icon name="logo-instagram" size="large"></ion-icon>
        </button>
      </div>
    </ion-item>
  </div>
  <ul class="brand">&copy; EVENTIFY, 2019</ul>
</ion-content>
