<ion-header>
  <ion-toolbar>
    <ion-menu-button class="end1" slot="end"></ion-menu-button>
    <ion-buttons slot="start">
      <ion-back-button class="backbtn"></ion-back-button>
    </ion-buttons>
    <ul class="imgtop"><img src="../../assets/eventify_logo.png" class="img2">
    </ul>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="user">

    <ul>Here are your profile details</ul>


        <img [src]="user.photoURL" class="profilephoto">


      <ion-label>

<br>

        <div class="username">
        <ion-item>
          <ion-label >Username: </ion-label>
          <ion-input placeholder="{{user.displayName}}" ></ion-input>

        </ion-item>
        </div>
        <br>

          <ion-item>
            <ion-label >email: </ion-label>
            <ion-input placeholder="{{user.email}}" ></ion-input>

          </ion-item>


      </ion-label>
  </ion-item>



  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="editprofile()" color="undefined" class="transition">
        <strong class="white">Edit Profile</strong></ion-button>
    </ion-col>
  </ion-row>

</ion-content>
