<ion-header>
  <ion-toolbar>
    <ion-menu-button class="end1" slot="end"></ion-menu-button>
    <ion-buttons slot="start">
      <ion-back-button class="backbtn"></ion-back-button>
    </ion-buttons>
    <ul class="imgtop"><img src="../../assets/eventify_logo.png" class="img2">
    </ul>
  </ion-toolbar>
</ion-header>

<ion-content>


  <br>
  <ion-card-title class="pp"><strong>Profile Information</strong></ion-card-title>
  <br>

  <!--

  <ion-item *ngIf="user">

    <ul>Here are your profile details</ul>


        <img [src]="user.photoURL" class="profilephoto">


      <ion-label>

<br><br><br><br><br>

        <div class="username">
          <ion-label >Username: </ion-label>
          <ion-input placeholder="{{user.displayName}}" ></ion-input>
        </div>

        <br>
        <div class="email">
            <ion-label >email: </ion-label>
            <ion-input placeholder="{{user.email}}" ></ion-input>
        </div>


      </ion-label>
  </ion-item>
-->

  <ion-card *ngIf="user">
    <ion-card-header>
      <img [src]="user.photoURL"  width="70" height="190">
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-label class="pp1">Username: </ion-label>
      </ion-item>

      <!--placeholder="{{user.displayName}}" -->
      <!--placeholder="{{user.email}}" -->

      <ion-item>
        <ion-label class="pp1">E-Mail: </ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>


  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="editprofile()" color="undefined" class="transition">
        <strong class="white">Edit Profile</strong></ion-button>
    </ion-col>
  </ion-row>
  <h2 class="or">Or</h2>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="addservice()" color="undefined" class="transition">
        <strong class="white">View/Add a Service</strong></ion-button>
    </ion-col>
  </ion-row>

</ion-content>
