.transition {
  background: linear-gradient(to right, #33BAFF 14%, #4357F0 96%);
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.end1 {
  background: dodgerblue !important;
  color:white;
  border: 0.8px solid rgb(1000, 1000, 1000);
  border-radius: 10px;
  display: block;
}
